{% extends 'layouts/main.html' %}
{% block title %}Applications Catalog{% endblock %}
{% block content %}

<div class="page-header">
    <h1>A list of pre-packaged and configured applications with
        <code>docker</code> and
        <code>docker-compose</code>
    </h1>
</div>
<div class="col-md-10 col-sm-8 col-xs-12 col-sm-offset-1">
    <div class="row center-block">
        {% from "_macros.html" import add_application %}
        {% for application in application_catalog %}
        {{ add_application(application.title ,application.sub_title,application.url,application.icon) }}
        {% endfor %}
    </div>
</div>

{% endblock %}