{% extends 'layouts/main.html' %}
{% block title %}Applications Catalog{% endblock %}
{% block content %}

<div class="page-header">
    <h1>This section includes details of the application selected by user and diffrent install methods etc.
        <code>docker</code> and
        <code>docker-compose</code>
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-md-push-8">
            <aside>
                <div>
                    
                </div>
            </aside>

        </div>
    </div>
</div>

{% endblock %}