{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row mt-sm-4 mt-md-0">
    <div class="col-sm-12 col-md-8">
        <div class="media detail-item" style="padding: 30px">
            <span class="media-left media-top">
                <img src={{ app.icon }} width="100" height="90"/>
            </span>
            <div class="media-body">
              <h2 class="media-heading" style="margin-left: 20px">{{ app.title }}</h2>
              <p> {{ app.subtitle }} </p>
            </div>
        </div>
        <h3 style="margin-left: 35px">Description</h3>
        <p>
            {{ app.details }}
        </p>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3 class="mb-4">Here we Go...</h3>
        <div class="list-group">
                <a id="cloud-link" class="list-group-item active" data-name="{{ app.label }}" href="{{ url_for('launch_kubeapp', name=app.name) }}">Launch In the Cloud</a>
                <a id="compose-link" class="list-group-item list-group-item-success" href="{{ app.url }}">Install Using Docker Compose </a>
        </div>


    </div>

</div>

<!--<div class="page-header">-->
  <!--<h1>Sticky footer with fixed navbar</h1>-->
<!--</div>-->
<!--<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>-->
{% endblock %}
