{% extends 'layouts/main.html' %}
{% block title %}{% endblock %}
{% block landing %}

<div class="banner">
    <div class="landing-text" >
        <h1 class="animated bounceInDown">Namal Educational Cloud Appstore</h1>
        <h2 class="animated bounceInUp">Pre-configured and Ready to Launch Applications with Docker and Kubernetes</h2>
        <p class="lead wow fadeIn" data-wow-duration="3s">
            In an age of easy to install and accessible mobile apps, the students
    and staff expects to have access to all the software needed in their
    university courses seamlessly and quickly. The project is aimed to
    provide an App-store like software delivery system through a private
    cloud based university data center.

        </p>
        <a href="#" class="btn btn-primary btn-lg">Learn More</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="padding">
    <div class="container prob">
        <div class="row">
            <div class="col-sm-6 text-left">
                    <h2>Solution to the Problems</h2>
                <div class="points">
                    <p class="wow slideInLeft" data-wow-duration="1s"><span class="fa fa-check-square-o "></span>It does not work on my machine</p>
                <p class="wow slideInLeft" data-wow-duration="1.5s"><span class="fa  fa-check-square-o"></span>How do i install and configure this software</p>
                <p class="wow slideInLeft" data-wow-duration="2s"><span class="fa fa-check-square-o"></span>My laptop does not have enough resources to run this application</p>
                <p class="wow slideInLeft" data-wow-duration="2.5s"><span class="fa fa-check-square-o"></span>I left my work on another machine</p>

                </div>
            </div>

            <div class="col-sm-6 wow fadeIn" data-wow-duration="3s">
                    <img src="static/img/student.jpg">
            </div>
        </div>
    </div>
</div>
<div class="bg-container">
    <div class="row">
        <div class="col-sm-12 text-center wow fadeIn" data-wow-duration="2s" >
            <div class="title-box">
                <h2 >Quick and Easy Software delivery</h2>
            </div>
            <p class="lead">
                Software delivery with a click of a button. Let us do the
                heavy lifting of software installation, configuraion and maintenance.
            </p>
        </div>
    </div>
</div>
<div class="padding">
    <div class="container bg-apps">
    <div class="row">
        <div class="col-sm-6 text-center apps-img wow slideInLeft" data-wow-duration="1s">
            <img src="static/img/apps.png" class="img-responsive"/>
        </div>
        <div class="col-sm-6 text-center wow slideInRight" data-wow-duration="1s">
            <div class="title-box">
            <h2>Ready to Use Application Catalog</h2>
            </div>
            <p class="lead">
                A curated list of application required by teachers and students to meet their
                demands. Application Catalog includes webapps such as jupyterhub, databases and
                Desktop apps. Webapps and DBs have cloud installtion options while Desktop apps are
                provided with docker-compose files.
            </p>
        </div>
    </div>
 </div>
</div>

<div class="container bg-simple">
    <div class="row">
        <div class="col-sm-12 text-center wow fadeIn" data-wow-duration="2s">
            <div class="title-box">
                <h2>Desktop Apps and Cloud Apps</h2>
            </div>
            <p class="lead">
                Applications in the appstore includes apps which can be installed on the university's private cloud
                as well as desktop apps. Desktop apps such as wireshark, vlc, gimp etc are provided
                with docker-compose files. Just download the file and enter <code>docker-compose up </code> and you are all set.
            </p>
        </div>
    </div>
</div>
<div class="padding">
    <div class="container infra">
    <div class="row">
        <div class="col-sm-6 wow slideInLeft" data-wow-duration="1s">
            <img src="static/img/bg-infra.png"/>
        </div>
        <div class="col-sm-6 text-center wow slideInRight" data-wow-duration="1s">
            <div class="title-box">
            <h2>Manage Your Infrastructure</h2>
            </div>
            <p class="lead">
                Another main purpose of this project is to managing resource
                consumption. Admin dashboard is provided to monitor resource
                in real time, define resource limits for students and teachers,
                load-balancing and all the good stuff to maximize usage of hardware.
            </p>
        </div>
    </div>

    </div>

</div>
<div class="padding">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 text-center">
          <div class="title-box">
            <p style="color: #cccccc">We are using</p>
          </div>
        </div>
      </div>
        <div class="row text-center">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail wow fadeIn" data-wow-duration="2s">
                    <div class="icon">
                        <img src="static/img/kubernetes.png" alt="...">
                    </div>
                    <div class="caption">
                        <h3>Kubernetes</h3>
                        <p>Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Learn More</a>
                        </p>
                    </div>
                </div>

            </div>
             <div class="col-sm-6 col-md-4">
                <div class="thumbnail wow fadeIn" data-wow-duration="4s">
                    <div class="icon">
                        <img src="static/img/helm-transparent.png" alt="...">
                    </div>
                    <div class="caption">
                        <h3>Helm </h3>
                        <p>Helm helps you manage Kubernetes applications — Helm Charts helps you define, install, and upgrade even the most complex Kubernetes application.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Learn More</a>
                        </p>
                    </div>
                </div>

            </div>
             <div class="col-sm-6 col-md-4 ">
                <div class="thumbnail wow fadeIn" data-wow-duration="5s">
                    <div class="icon">
                        <img src="static/img/docker-icon-transparent.png" alt="...">
                    </div>
                    <div class="caption">
                        <h3>Docker</h3>
                        <p>Docker is the company driving the container movement and the only container platform provider to address every application across the hybrid cloud
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Learn More</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}