{% extends 'layouts/main.html' %}
{% block title %}{% endblock %}
{% block landing %}

<div class="banner">
    <div class="landing-text">
        <h1>Educational Cloud Appstore</h1>
        <h3>Pre-configured and Ready to Launch Applications with Docker and Kubernetes</h3>
        <a href="#" class="btn btn-default btn-lg">Learn More</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <img src="static/img/sass.png">
            </div>
            <div class="col-sm-6 text-center">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin luctus nulla velit, a rutrum lectus tincidunt scelerisque.
                    Duis eget gravida mi. Nunc semper maximus pharetra. Pellentesque ornare semper nulla, a efficitur sem facilisis sed.
                    Mauris scelerisque massa sed arcu ullamcorper, et pellentesque ipsum imperdiet.
                    Duis consectetur tempor sodales.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
                <h4>Side by Side</h4>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin luctus nulla velit, a rutrum lectus tincidunt scelerisque.
                    Duis eget gravida mi. Nunc semper maximus pharetra. Pellentesque ornare semper nulla, a efficitur sem facilisis sed.
                    Mauris scelerisque massa sed arcu ullamcorper, et pellentesque ipsum imperdiet.
                    Duis consectetur tempor sodales.
                </p>

            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
                <img src="static/img/sass.png" class="img-responsive">

            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
                <h4>Side by Side</h4>
                <p>
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Proin luctus nulla velit, a rutrum lectus tincidunt scelerisque.
                    Duis eget gravida mi. Nunc semper maximus pharetra. Pellentesque ornare semper nulla, a efficitur sem facilisis sed.
                    Mauris scelerisque massa sed arcu ullamcorper, et pellentesque ipsum imperdiet.
                    Duis consectetur tempor sodales.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
                 <img src="static/img/less.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>

{% endblock %}