{% macro add_application(name,title,sub_title,url,icon) %}
<div class="col-md-4 col-sm-12 center-block application" style="width: 273px;" name={{ name }}>
    <div class="rnchr-catalog-item-container ">
        <div class="rnchr-catalog-item-img-div all-spacer">
            <a class="icon" href={{ url }}>
                <img class="center-block all-spacer-sm" hide_image="false" src={{ icon }}/>
            </a>
        </div>
        <div class="bg-lightGrayTwo rnchr-catalog-content-container" style="height: 124px;">
        <div class="rnchr-catalog-content-div all-spacer">
            <h4 class="text-center">
                <a title={{ title }} href={{ url }}>{{ title }}</a>
            </h4>
            <p class="text-center">{{ sub_title }}</p>
        </div>
    </div>
    </div>
</div>

{% endmacro %}
{% macro landing_page(title,subtitle) %}
<div id="home" class="jumbotron">
    <div class="landing-text">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
        <a href="#" class="btn btn-default btn-lg">Learn More</a>
    </div>
</div>
{% endmacro %}

{% macro application_block(name,title,subtitle,icon) %}
<div class="col-md-4 col-sm-12 center-block my-application" style="width: 273px;" name={{ name }}>
    <div class="rnchr-catalog-item-container ">
        <div class="rnchr-catalog-item-img-div all-spacer">
            <a class="icon">
                <img class="center-block all-spacer-sm" hide-image="false" src={{ icon }}/>
            </a>
        </div>
        <div class="bg-lightGrayTwo rnchr-catalog-content-container" style="height: 124px;">
        <div class="rnchr-catalog-content-div all-spacer">
            <h4 class="text-center">
                <a title={{ title }} >{{ title }}</a>
            </h4>
            <p class="text-center">{{ sub_title }}</p>
        </div>
    </div>
    </div>
</div>
{% endmacro %}