
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

 .rounded-corner{
    border-radius: 25px;
    border: 2px solid #d3d3d3;
    padding: 10px;
    margin-bottom: 10px;
  }
  .border-box{
    border: 2px solid #d3d3d3;
    padding: 10px;
  }