{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    <input class="form-control first-input" type="text" placeholder="Name" name="username" value="{{
      request.form.username }}" required="true">
    <input class="form-control" type="text" placeholder="Your E-mail" name="email" value="{{
        request.form.email }}" required="true">
    <input class="form-control" type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" required>
    <input class="form-control last-input" type="password" placeholder="Confirm Password" name="confirm" value="{{
            request.form.confirm }}" required>
    
    
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block" >
    <p>You must add database as well as Flask-Login to enable user management. See the <a href="http://www.realpython.com">Real Python</a> course for more info!</p>
  </form>
{% endblock %}
