<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
    <script src="../js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="card-deck">
            <div class="card-body">
                <div class="card">
                    <img src="../images/android-studio-logo.png" class="img-fluid" alt="appliation icon" />
                    <h3 class="card-title">Title of Card</h3>
                    <h5 class="card-subtitle">Subtitle of Card</h5>
                    <p>a short description</p>
                    <button class="btn btn-dark btn-sm">Install Options</button>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <img src="../images/firefox-logo.png" class="img-fluid" alt="appliation icon" />
                    <h3 class="card-title">Title of Card</h3>
                    <h5 class="card-subtitle">Subtitle of Card</h5>
                    <p>a short description</p>
                    <button class="btn btn-dark btn-sm">Install Options</button>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <img src="../images/intellij-idea-logo.png" class="img-fluid" alt="appliation icon" />
                    <h3 class="card-title">Title of Card</h3>
                    <h5 class="card-subtitle">Subtitle of Card</h5>
                    <p>a short description</p>
                    <button class="btn btn-dark btn-sm">Install Options</button>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card-body">
                <div class="card">
                    <img src="../images/pycharm-logo.png" class="img-fluid" alt="appliation icon" />
                    <h3 class="card-title">Title of Card</h3>
                    <h5 class="card-subtitle">Subtitle of Card</h5>
                    <p>a short description</p>
                    <button class="btn btn-dark btn-sm">Install Options</button>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <img src="../images/android-studio-logo.png" class="img-fluid" alt="appliation icon" />
                    <h3 class="card-title">Title of Card</h3>
                    <h5 class="card-subtitle">Subtitle of Card</h5>
                    <p>a short description</p>
                    <button class="btn btn-dark btn-sm">Install Options</button>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <img src="../images/android-studio-logo.png" class="img-fluid" alt="appliation icon" />
                    <h3 class="card-title">Title of Card</h3>
                    <h5 class="card-subtitle">Subtitle of Card</h5>
                    <p>a short description</p>
                    <button class="btn btn-dark btn-sm">Install Options</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>